# Ignore .terraform directories
terraform/.terraform/
node_modules/


# Additionally, ignore Terraform state files if not using remote state
*.tfstate.*
.terraform.lock.hcl

# Ignore crash logs
.crash.log
